<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
  <head>
    {% block head %}
      <title>{% block title %}{{ SITENAME|striptags }}{% endblock title %}</title>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {% if SITESUBTITLE %}
        <meta name="description" content="{{ SITESUBTITLE }}" />
      {% endif %}

      <link rel="stylesheet" href="/theme/css/site.css" />
      {% if STYLESHEET_URL %}
        <link rel="stylesheet" type="text/css" href="{{ STYLESHEET_URL }}" />
      {% endif %}

    {% endblock head %}
  </head>

  <body>
          <div class="w-container header__content-container row">
    <header class="w-cell header-banner-wrapper row">
      <div>Things...<p>{{THEME_STATIC_DIR}}</p></div>
      <p>{{SITEURL}}</p>
      <hgroup><h1><a href="{{ SITEURL }}/">{{ SITENAME }}</a></h1>{% if SITESUBTITLE %}<p>{{ SITESUBTITLE }}</p>{% endif %}</hgroup>
      <nav><ul>
        {% for title, link in MENUITEMS %}
          <li><a href="{{ link }}">{{ title }}</a></li>
        {% endfor %}
        {% if DISPLAY_PAGES_ON_MENU %}
          {% for p in pages %}
            <li><a href="{{ SITEURL }}/{{ p.url }}" {% if p==page %} aria-current="page" {% endif %}>{{ p.title }}</a></li>
          {% endfor %}
        {% endif %}
        {% if DISPLAY_CATEGORIES_ON_MENU %}
          {% for cat, null in categories %}
            <li><a href="{{ SITEURL }}/{{ cat.url }}" {% if cat==category %} aria-current="page" {% endif %}>{{ cat}}</a></li>
          {% endfor %}
        {% endif %}
      </ul></nav>
    </header>
          </div>

    <main>
      {% block content %}
      {% endblock %}
    </main>
    <footer>
      <address>
        Proudly powered by <a rel="nofollow" href="https://getpelican.com/">Pelican</a>,
        which takes great advantage of <a rel="nofollow" href="https://www.python.org/">Python</a>.
      </address>
    </footer>
  </body>
</html>
