{% extends "base.html" %}
{% block html_lang %}{{ page.lang }}{% endblock %}
{% block title %}{{ page.title|striptags }}{% endblock %}

{% block subtitle %}{{ page.subtitle }}{% endblock %}
{% block coachtitle %}{{ page.coachtitle }}{% endblock %}

{% block coaches %}
  <div class="coaches">
    <div class="container">
        <div class="columns">
          {% for coach in DATA_COACHES_24 %}
            <div class="column">
              <img class="coach-img" src="{{ coach.img }}" />
              <h2>{{ coach.full_name }}</h2>
              <p>{{ coach.title }}</p>
              <p><span class="under">College:</span> {{ coach.college }}</p>
              <p><span class="under">Career:</span> {{ coach.career }}</p>
              <p><span class="under">Home town:</span> {{ coach.hometown }}</p>
              <p><span class="under">Nationality:</span> {{ coach.nationality }}</p>
              <p><span class="under">Interests:</span> {{ coach.interests }}</p>
              <p><span class="under">Fun Fact:</span> {{ coach.fun_fact }}</p>
            </div>
          {% endfor %}
        </div>  
    </div>
  </div>
{% endblock %}

{% block playertitle %}{{ page.playertitle }}{% endblock %}

{% block content %}
<div id="players" class="grid is-gap-4">

  {% for player in DATA_PLAYERS_24 %}
    <div class="cell is-col-span-2" id="{{ player.full_name|replace(' ', '_') }}">
      <img class="player-img" src="{{ player.img }}" />
      <h3>{{ player.full_name }}</h3> 

      <p><a href="{{player.college_url}}" target="_blank">{{ player.college }}</a></p>
      <p>{{ player.hometown }}</p>

      <div class="social">
        <a href="{{player.hudl}}" target="_blank">Hudl</a>
        &nbsp;&nbsp;
        <a href="{{player.instagram}}" target="_blank">Instagram</a>
        &nbsp;&nbsp;
        <a href="{{player.facebook}}" target="_blank">Facebook</a>
        &nbsp;&nbsp;
        <a href="{{player.tiktok}}" target="_blank">TikTok</a>
        &nbsp;&nbsp;
        <a href="{{player.twitterx}}" target="_blank">Twitter (X)</a>
      </div>
    </div>
  {% endfor %}

</div>
{% endblock %}

