@font-face {
  font-family: "Campione Neue Sans Bold";
  src: url(/theme/fonts/Campione_Neue_Sans_Bold.ttf) format("truetype");
}

div.yellow-bar {
  background-color: #ffe600;
}

div.yellow-bar {
  max-width: 50%;
  margin: 0 auto;
  font-family: 'Campione Neue Sans Bold';
  font-weight: bold;
  text-align: center;
  line-height: 100px;
  font-size: 38px;
  color: black;
}

footer.footer {
  background-color: #ffe600;
}

.social-icons {
  display: inline;
}

.navbar-item {
  padding: 0.3rem 0;
}
.navbar-item a {
  color: black;
  font-family: "Campione Neue Sans Bold";
  font-weight: bold;
}


.underline a {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;

  padding: 5px 20px;
  position: relative;
}
.underline a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.underline a:hover:after {
  width: 100%;
  left: 0;
}
